.button {
    border: 0;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .button:hover{
    background-color:#f7c198   ;
 
 
   }

  .input-group {
    display: flex;
    flex-direction: column;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main form button {
    width: 437px;
    height: 33px;
    background: #4f0a63;

    color: #fff;
    font-weight: 500;
    font-size: 20px;

    border: none;
    margin-top: 15px;
    cursor: pointer;
    transition: all 600ms;

}

main form button:hover {
    background: #f7c198;
    color: #4f0a63;
    box-shadow: 0px 1px 20px  #94aebd (159, 159, 159, 0.65);
}

#sistema{
  width: 200px;
}
#numeroDeJogadores{
  width: 40px;
}
