
 .input-group {
    display: flex;
    flex-direction: column;
}  

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0 0 0 0;
  padding-top: 30px;
  
}

.info1 {
  float: left;
  height: 100%;
  justify-content: space-around;
  padding-top: 0%;
}

.info2 {
  float: right;
  height: 100%;
  padding-left: 160px;
  justify-content: space-around;
  padding-top: 0%;
} 

p{
  font-weight: 1000;
  font-size: large;
}


#sistema{
  width: 200px;
}
#numeroDeJogadores{
  width: 40px;
}

.cenario, .regrasDaMesaC{
  width: 300px;
}
