main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 color: #4e4184;
}
h2{
  background-color: #94aebd;
  padding: 5px;
}
.mesas{
  width: 1200px;
  padding: 10px;
  text-align: center;
}
.personagens{
  width: 1200px;
  padding: 10px;
  text-align: center;
}
table, th, td{
  border: 1px solid #4e4184;
  background-color: white;
}
th{
  background-color: #94aebd;
}

.flex-container {
   display: flex;
  flex-direction: row;
  justify-content: space-around;
     align-items: center;
    text-align: center;
    align-content: center;
    width: 100%; 
    

}

.box{
    float: left;
    width: 250px; height: 150px;
    margin: 10px 20px;
    background-color: #94aebd; ;
}


