
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
   
     font-family: MedievalSharp, sans-serif;
     font-weight:bolder;
     background-image: url("./imagens/RPG.png");
     background-position: center;
     background-repeat: no-repeat;
     background-color: rgba(250, 248, 248, 0.63);
     background-blend-mode: color;
     background-size: 800px 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: black;
  
}


* {
	box-sizing: border-box;
	margin: 00;
	padding: 00;
}


  
  .bt {
    border: 0;
    padding: 10px;
    width: 150px;
    height: 40px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
  }

  .bt:hover{
   background-color:#94aebd   ;


  }



  label{
    width: 150px;
    display: inline-block;
    margin: 5px;
    text-align: justify;
    
   
  }
  
  




    


