
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
  
  background-position: 100%;
  height: 800px;
   width: 1280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 800px;
  font-family: MedievalSharp, sans-serif;
  background-blend-mode: color;
  
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


main {
    height: 100vh;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    color:#4f0a63;	
    

}

.button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
   
}




    


