main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   color: #4e4184;
  }
  h2{
    background-color: #94aebd;
    padding: 5px;
  }
  .mesas{
    width: 1200px;
    padding: 10px;
    text-align: center;
  }
  .personagens{
    width: 1200px;
    padding: 10px;
    text-align: center;
  }
  table, th, td{
    border: 1px solid #4e4184;
    background-color: white;
  }
  th{
    background-color: #94aebd;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
    width: 100%; 
    text-align: center;
   align-content: flex-end;
    flex-direction: row;
     
  
  }
  
.box{
    ddisplay: flex;
    justify-content: space-around;
    width: 100%; 
    text-align: center;
   align-content: flex-end;
    flex-direction: row;


}
img {
    width: 300px;
    }
