@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
  background-image: url("./imagens/RPG.png");
  height: 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 680px 680px;
  font-family: MedievalSharp, sans-serif;
  
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.titulo{
  display: flex;
  padding: 10px;
  width: 1280px;
  height: 45px;
  flex-direction: row;
  background-color: #4f0a63;
  color: #f7c198;
  text-align: center;
  align-items: center;
}
.menu{
  display: flex;
  padding: 10px;
  width: 1280px;
  height: 40px;
  flex-direction: row;
  align-items: flex-end;
  background-color: #4f0a63;
  color: #f7c198;
  text-align: center;
  
}
.home{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.criar{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.entrar{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.criarP{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
