
.input-group {
    display: flex;
    flex-direction: column;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 0 0 0 0;
  padding-top: 100px;
}



.info1 {
  float: left;
  height: 100%;
  padding: 160px;
  justify-content: space-around;
  padding-top: 0%;

  
}

.info2 {
  float: right;
  height: 100%;
  padding: 160px;
  justify-content: space-around;
  padding-top: 0%;
  
} 



#sistema{
  width: 200px;
}
#numeroDeJogadores{
  width: 40px;
}
p{
  font-weight: 1000;
  font-size: large;
}
.cenario, .regrasDaMesaC{
  width: 300px;
}