@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
  background-image: url("../imagens/RPG.png"); 
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh 100vh ;
  font-family: MedievalSharp, sans-serif;
  background-color: rgba(250, 248, 248, 0.747);
  background-blend-mode: color;
  background-attachment: fixed;
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
.titulo{
  display: flex;
  padding: 10px;
  width: 1280px;
  height: 45px;
  flex-direction: row;
  background-color: #4f0a63;
  color: #f7c198;
  text-align: center;
  align-items: center;
}
.menu{
  display: flex;
  padding: 10px;
  width: 1280px;
  height: 40px;
  flex-direction: row;
  align-items: flex-end;
  background-color: #4f0a63;
  color: #f7c198;
  text-align: center;
  position:sticky;
}
.home{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
  
}

.home a{
  text-decoration: none;
  color: #f7c198;
}
.criar{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.criar a{
  text-decoration: none;
  color: #f7c198;
}
.entrar{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.entrar a{
  text-decoration: none;
  color: #f7c198;
}
.criarP{
  padding: 5px;
  background-color: #4f0a63;
  border: 2px  solid #bf18a1 ;
  width: 140px;
  height: 15px;
  text-align: center;
}
.criarP a{
  text-decoration: none;
  color: #f7c198;
}
.entrar:hover {
  background: #94aebd;
  color: #4f0a63;
  box-shadow: 0px 1px 20px  #94aebd (159, 159, 159, 0.65);
}
.entrar a:hover{
  color: #4f0a63;
}
.criarP:hover {
  background: #94aebd;
  color: #4f0a63;
  box-shadow: 0px 1px 20px  #94aebd (159, 159, 159, 0.65);
}
.criarP a:hover{
  color: #4f0a63;
}
.criar:hover {
  background: #94aebd;
  color: #4f0a63;
  box-shadow: 0px 1px 20px  #94aebd (159, 159, 159, 0.65);
}
.criar a:hover{
  color: #4f0a63;
}
.home:hover {
  background: #94aebd;
  color: #4f0a63;
  box-shadow: 0px 1px 20px  #94aebd (159, 159, 159, 0.65);
}
.home a:hover{
  color: #4f0a63;
}