<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body> 
    
    
    <h1>Cadastro</h1>
     <div class="container">
    <form action="cadastro.ejs" method="post">

     <div >
          <label for="nome">Nome:</label>
          <input type="text" name="nome"  id="nome" >
     </div>
        

     <div>
        <label for="apelido">Apelido(Nick):</label>
        <input type="text" name="apelido"  id="apelido" >
    </div>


    <div >
        <label for="email">Email:</label>
        <input type="email" name="email"  id="email" >
    </div>


    <div >
        <label for="password">Senha:</label>
        <input type="password" name="password"    id="password" >
    </div>


    <div >
        <label for="password">Confirmar Senha:</label>
        <input type="password"  name="password"      id="password" >

    </div>
    </form>
</div>

    
    <div>
        <span class="button">
        <button class="bt"   type="submit"><a href="./gerenciar.ejs">Cadastrar</a></button>
    </span>

    <span class="button">
        <button class="bt"   type="reset"><a href="./cadastro.ejs">Cancelar</a></button>
    </span>
    </div>

    
        
      
    
    
</body>
</html>