<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Mesa</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/criacaomesa.css">
    
</head>
<body>
    <header>
           <div class="titulo">
               <h1>RPG Base</h1>
           </div>
          <div class="menu">
          <div class="home">
                <a href="/gerenciar">
                    Inicio
                </a>
          </div>
          <div class="criar">
                <a href="/criacaomesa">
                    Criar Mesa
                </a>
         </div>
         <div class="entrar">
                <a href="/ingressarmesa">
                    Entrar em Mesa
                </a>    
         </div>
         <div class="criarP">
                <a href="/selecaosistema">
                    Criar Personagem
                </a>
        </div>
        </div>
    </header>

<main>
         <h2>Criar Mesa</h2>
         <form action="/criacaomesa" method="post">
             <div class="corpo">
             <div class="lados">
               <div class="input-group">
                   <label for="nomeDaAventura">Nome da Aventura:</label>
                   <input type="text" id="nomeDaAventura" name="nomeDaAventura">
               </div>
               
               <div class="input-group">
                   <label for="sistema">Sistema:</label>
                   <select name="sistema" id="sistema">
                       <option value="vampiro">Vampiro - A Máscara</option>
                       <option value="gurps">Gurps 4ª Edição</option>
                       <option value="dnd">Dungeons and Dragons</option>
                   </select>
               </div>
               <div class="input-group">
                   <label for="cenario">Cenário:</label>
                   <textarea name="cenario" id="cenario" cols="50" rows="5">
                       Fale sobre o que espera os jogadores...
                   </textarea>
               </div>
           </div>
           <div class="lados">
               <div class="input-group">
                   <label for="numeroDeJogadores">Número de Jogadores:</label>
                   <select name="numeroDeJogadores" id="numeroDeJogadores">
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
                   </select>
               </div>
               <div class="input-group">
                   <label for="regrasDaMesa">Regras da Mesa:</label>
                   <textarea name="regrasDaMesa" id="regrasDaMesa" cols="30" rows="5">Digite aqui, caso exista, as regras especificas da mesa.</textarea>
               </div>
           
               <span>
                   <button type="reset">Cancelar</button>
                 </span>
           
               <span>
                 <button type="submit">Criar</button>
               </span>
           </div>
    </div>
</form>
</main>
</body>
</html>