<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Gerenciar mesas</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>RPG Base</h1>
        </div>
        <div class="menu">
            <div class="home">
                <a href="./gerenciar.ejs">
                    Inicio
                </a>
            </div>
            <div class="criar">
                <a href="/criacaomesa.ejs">
                    Criar Mesa
                </a>
            </div>
            <div class="entrar">
                <a href="/ingressarmesa.ejs">
                    Entrar em Mesa
                </a>    
            </div>
            <div class="criarP">
                <a href="/selecaosistema.ejs">
                    Criar Personagem
                </a>
            </div>
        </div>
    </header>
    <main>
        <h2>Mesas</h2>
        <table class="mesas">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Mesa
                </th>
                <th>
                    Narrador
                </th>
                <th>Sistema</th>
            </tr>     
            <tr>
                <td>0001</td>
                <td>
                    <a href="/dadosmesa(mestre).ejs">Mesa Vampiro</a>
                </td>
                <td> Fulano</td>
                <td> Vampiro - A Máscara</td>
            </tr>
            
            <tr>
                <td>0002</td>
                <td>
                    <a href="/dadosmesa(jogador).ejs">Mesa D&D</a>
                </td>
                <td> Beltrano</td>
                <td> Dungeons and Dragons</td>
            </tr>

            <!-- <tr>
                <td>0003</td>
                <td>
                    <a href="./dadosmesa(mestre).html">Mesa Gurps</a>
                </td>
                <td> Siclano</td>
                <td> Gurps 4ª Edição</td>
            </tr> -->

           
        </table> 



        <h2>Personagens</h2>      
        <table class="personagens">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Personagem
                </th>
                <th>
                    Mesa
                </th>
                <th>
                    Narrador
                </th>
            </tr>     
            <!-- <tr>
                <td>
                    0001
                </td>
                <td>
                    <a href="./vampiro.html">Christina Chambers</a>
                </td>
                <td>
                    Mesa Vampiro
                </td>
                <td>
                    Beltrano
                </td>
            </tr> -->
            
            <tr>
                <td>
                    0003
                </td>
                <td>
                    <a href="./DnD.ejs">Tora Kiba</a>
                </td>
                <td>
                    Mesa D&D
                </td>
                <td>
                    Contador de histórias
                </td>
            </tr>
            
            <tr>
                <td>
                    0002
                </td>
                <td>
                    <a href="./gurp.ejs">Fulano</a>
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>

        </table>
    </main>
    
</body>
</html>