<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Gurps - Novo Personagem</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/public/css/gurpscriacao.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>RPG Base</h1>
        </div>
        <div class="menu">
            <div class="home">
                <a href="/gerenciar.ejs">
                    Inicio
                </a>
            </div>
            <div class="criar">
                <a href="/criacaomesa.ejs">
                    Criar Mesa
                </a>
            </div>
            <div class="entrar">
                <a href="/ingressarmesa.ejs">
                    Entrar em Mesa
                </a>    
            </div>
            <div class="criarP">
                <a href="/selecaosistema.ejs">
                    Criar Personagem
                </a>
            </div>
        </div>
    </header>
    <main>
        <h2>Gurps - Ficha de Personagem</h2>
        <form action="gerenciar.html" method="post">
            <p>
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome">
                <label for="jogador">Jogador:</label>
                <input type="text" name="jogador" id="jogador">
                <label for="tPontos">Total de Pontos:</label>
                <input type="text" name="tPontos" id="tPontos">
            </p>
            <p>
                <label for="altura">Altura:</label>
                <input type="text" name="altura" id="altura" size="3px">
                <label for="peso">Peso:</label>
                <input type="text" name="peso" id="peso" size="3px">
                <label for="modTam">Modificador de Tamanho:</label>
                <input type="text" name="modTam" id="modTam" size="3px">
                <label for="idade">Idade:</label>
                <input type="text" name="idade" id="idade" size="3px">
                <label for="pontGastar">Pontos p/ Gastar</label>
                <input type="text" name="pontGastar" id="pontGastar" size="3px">
            </p>
            <p>
                <label for="aparencia">Aparência:</label>
                <input type="text" name="aparencia" id="aparencia" size="93px">
            </p>
            <h3>PLANILHA DE PERSONAGEM</h3>
            <section class="inicio">
                <div class="atributos">
                    <div class="fisicos">
                       <div class="compAtri"> 
                            <label for="st">ST</label>
                            <input type="text" name="st" id="st" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="dx">DX</label>
                            <input type="text" name="dx" id="dx" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="iq">IQ</label>
                            <input type="text" name="iq" id="iq" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="ht">HT</label>
                            <input type="text" name="ht" id="ht" size="3px">
                        </div>
                    </div>
                    <div class="resultante">
                        <div class="compAtri">
                            <label for="pv">PV</label>
                            <input type="text" name="pv" id="pv" size="3px">
                            <input type="text" name="pvA" id="pvA" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="vont">Vont</label>
                            <input type="text" name="vont" id="vont" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="per">Per</label>
                            <input type="text" name="per" id="per" size="3px">
                        </div>
                        <div class="compAtri">
                            <label for="pf">PF</label>
                            <input type="text" name="pf" id="pf" size="3px">
                            <input type="text" name="pfA" id="pfA" size="3px">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <table>
                            <tr>
                                <th>
                                     <label for="linguas">
                                        Línguas
                                     </label>
                                </th>
                                <th>
                                     <label for="falada">
                                        Falada
                                     </label>
                                </th>
                                <th>
                                    <label for="escrita">
                                        Escrita
                                    </label>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="linguas" id="linguas" cols="26" rows="10">
                                        Escreva uma língua por linha
                                    </textarea>
                                </td>
                                <td>
                                    <textarea name="falada" id="falada" cols="26" rows="10">
                                        Escreva o grau de fala da respectiva lingua da tabela ao lado(um por linha)...
                                    </textarea>
                                </td>
                                <td>
                                    <textarea name="escrita" id="escrita" cols="25" rows="10">
                                        Escreva o grau de escrita da respectiva lingua da tabela ao lado(um por linha)...
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="rdent">
                        <table class="rd">
                            <tr>
                                <th>
                                    RD
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <label for="cabeca">Cabeça:</label>
                                    <input type="text" name="cabeca" id="cabeca" size="10px">
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <label for="tronco">Tronco:</label>
                                    <input type="text" name="tronco" id="tronco" size="10px">
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <label for="bracos ">Braços:</label>
                                    <input type="text" name="bracos" id="bracos" size="10px">
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <label for="maos">Mãos:</label>
                                    <input type="text" name="maos" id="maos" size="10px">
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <label for="pernas">Pernas:</label>
                                    <input type="text" name="pernas" id="pernas" size="10px">
                                </td>                                
                            </tr>
                            <tr>
                                <td>
                                    <label for="pes">Pés:</label>
                                    <input type="text" name="pes" id="pes" size="10px">
                                </td>                                
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <label for="nt">NT:</label>
                                    <input type="text" name="nt" id="nt" size="46px">
                                    <input type="text" name="nt2" id="nt2" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Familiaridades Culturais
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="fc1" id="fc1" size="50px">
                                    <input type="text" name="fc12" id="fc12" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="fc2" id="fc2" size="50px">
                                    <input type="text" name="fc22" id="fc22" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="fc3" id="fc3" size="50px">
                                    <input type="text" name="fc32" id="fc32" size="2px">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>
           <section class="cap">
                <div class="sessaoe">
                    <div class="capacidades">
                        <div>
                            <label for="basecarga">BASE DE CARGA (ST X ST)/10:</label>
                            <input type="text" name="basecarga" id="basecarga" size="4px">
                            <label for="danogdp">DANO GdP:</label>
                            <input type="text" name="danogdp" id="danogdp" size="4px">
                            <label for="geb">GeB</label>
                            <input type="text" name="geb" id="geb" size="3.5px">
                        </div>
                        <div> 
                            <label for="velbasic">VEL. BÁSICA</label>
                            <input type="text" name="velbasic" id="velbasic" size="10px">
                            <input type="text" name="velbasic2" id="velbasic2" size="3px">
                            <label for="deslbasic">DESL. BÁSICO</label>
                            <input type="text" name="deslbasic" id="deslibasic" size="10px">
                            <input type="text" name="deslbasic2" id="deslbasic2" size="3px">
                        </div>
                    </div>
                    <div>
                        <table class="capac">
                            <tr>
                                <th>BASE DE CARGA</th>
                                <th></th>
                                <th>DESLOCAMENTO</th>
                                <th></th>
                                <th>ESQUIVA</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>
                                    <label for="nenhuma">Nenhuma(0) = BC</label>
                                </td>
                                <td>
                                    <input type="text" name="nenhuma" id="nenhuma" size="3px">
                                </td>
                                <td>
                                    <label for="dbx1">DB x 1</label>
                                </td>
                                <td>
                                    <input type="text" name="dbx1" id="dbx1" size="3px">
                                </td>
                                <td>
                                    <label for="esquiva">Esquiva</label>
                                </td>
                                <td>
                                    <input type="text" name="esquiva" id="esquiva" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="leve">Leve(1) = 2xBC</label>
                                </td>
                                <td>
                                    <input type="text" name="leve" id="leve" size="3px">
                                </td>
                                <td>
                                    <label for="dbx08">DB x 0,8:</label>
                                </td>
                                <td>
                                    <input type="text" name="dbx08" id="dbx08" size="3px">
                                </td>
                                <td>
                                    <label for="esquiva-1">Esquiva -1</label>
                                </td>
                                <td>
                                    <input type="text" name="esquiva-1" id="esquiva-1" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="media">Média(2) = 3xBC: </label>
                                </td>
                                <td>
                                    <input type="text" name="media" id="media" size="3px">
                                </td>
                                <td>
                                    <label for="dbx06">DB x 0,6: </label>
                                </td>
                                <td>
                                    <input type="text" name="dbx06" id="dbx06" size="3px">
                                </td>
                                <td>
                                    <label for="esquiva-2">Esquiva -2</label>
                                </td>
                                <td>
                                    <input type="text" name="esquiva-2"id="esquiva-2" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="pesada">Pesada(3) = 10xBC</label>
                                </td>
                                <td>
                                    <input type="text" name="pesada" id="pesada" size="3px">
                                </td>
                                <td>
                                    <label for="dbx04">DB x 0,4: </label>
                                </td>
                                <td>
                                    <input type="text" name="dbx04" id="dbx04" size="3px">
                                </td>
                                <td>
                                    <label for="esquiva-3">Esquiva -3:</label>
                                </td>
                                <td>
                                    <input type="text" name="esquiva-3" id="esquiva-3" size="2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="mpesada">Mto Pesada(4) = 10xBC:</label>
                                </td>
                                <td>
                                    <input type="text" name="mpesada" id="mpesada" size="3px">
                                </td>
                                <td>
                                    <label for="dbx02">DB x 0,2: </label>
                                </td>
                                <td>
                                    <input type="text" name="dbx02" id="dbx02" size="3px">
                                </td>
                                <td>
                                    <label for="esquiva-4">Esquiva -4: </label>
                                </td>
                                <td>
                                    <input type="text" name="esquiva-4" id="esquiva-4" size="2px">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="mods">
                    <table class="apaBloq">
                        <tr>
                            <th>
                                <label for="aparar">APARAR</label> 
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="aparar" id="aparar" class="apa">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="aparar2" id="aparar2" class="apa2">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="bloqueio">BLOQUEIO</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="bloqueio" id="bloqueio" class="apa">
                            </td>    
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="bloqueio2" id="bloqueio2"class="apa2">
                            </td>
                        </tr>
                    </table>
                    <table class="modReac">
                        <tr>
                            <th>
                                <h3>
                                    <label for="aparencia">Modificadores de Reação</label>
                                </h3>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <label for="aparencia">Aparência: </label>
                                <input type="text" name="aparencia" id="aparencia" size="48px">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="status">Status: </label>
                            <input type="text" name="status" id="status" size="52px">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="reputacao">Reputação</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea name="reputacao" id="reputacao" cols="59" rows="4">Reputação</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
           </section>
           <section class="extras">
            <table>
                <tr>
                    <th>
                        <label for="vant">VANTAGENS E QUALIDADES</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        <textarea name="vant" id="vant" cols="72" rows="12">
                            vantagens e qualidades
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="desv">DESVANTAGENS E PECULIARIDADES</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        <textarea name="desv" id="desv" cols="72" rows="12">
                            desvantagens e peculiaridades
                        </textarea>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th colspan="5">
                        PERÍCIAS
                    </th>
                </tr>
                <tr>
                    <th>
                        <label for="nomep">Nome</label>
                    </th>
                    <th>
                        <label for="nh">NH</label>
                    </th>
                    <th>
                        <label for="nhr">NH Relativo</label>
                    </th>
                </tr>
                <tr>
                    <td>
                        <textarea name="nomep" id="nomep" cols="58" rows="25">Nomes de pericias</textarea>
                    </td>
                    <td>
                        <textarea name="nh" id="" cols="5" rows="25">Digite os valores de NH correspondentes as perícias ao lado</textarea>
                    </td>
                    <td>
                        <textarea name="nhr" id="nhr" cols="10" rows="25">Digite os valores de NH relativo correspondentes aos pericias ao lado</textarea>
                    </td>
                </tr>
            </table>
           </section>
           <div class="botoes">
            <a href="./gerenciar.ejs">
                <input type="reset" value="Cancelar">
            </a>            
            <input type="submit" value="Criar Personagem">
        </div>
        </form>
    </main>
    
</body>
</html>