<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/public/css/index.css">
    

</head>
<body>
                   
        
        <h1>RPG Base</h1>
        

        <form action="gerenciar.ejs">

            <div>

                <label for="login">Login</label>

                <input type="email"  name="login" id="login" autocomplete="on">

            </div>

            <div>
                 <label for="password">Senha</label>

                <input type="password" name="password"    id="password" autocomplete="on">
            </div>

              
                   <div class="bt-container">
                    <button class="bt"   type="submit" ><a href="./gerenciar.ejs">Ok</a></button>
                </div>  
                
                
        </form>

            
              
                 <p>Ainda não é cadastrado(a)?<a href="./cadastro.ejs" class="Cadastro">Clique aqui...</a></p>         
                

          
       
        
        
    
   
</body>
</html>