<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingressar em Mesa</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./ingressarmesa.css">
</head>
<body>

<header>
    <div class="titulo">
        <h1>RPG Base</h1>
    </div>
    <div class="menu">
        <div class="home">
            <a href="./gerenciar.ejs">
                Início
            </a>
        </div>
             <div class="criar">
                <a href="./criacaomesa.ejs">
                    Criar Mesa
                </a>
             </div>
             <div class="entrar">
                <a href="./ingressarmesa.ejs">
                    Entrar em Mesa
                </a>
             </div>
             <div class="criarP">
                <a href="./selecaosistema.ejs">
                    Criar Personagem
                </a>
    </div>
    </div>
</header>

<main>
    <h2>Ingressar em Mesa</h2>
    <form action="./ingressarmesa.ejs" method="post">
    <div class="input-group">
        <label for="nome">Insira o Código da Mesa:</label>
        <input type="text" id="insira o codigo da mesa" name="insira o codigo da mesa">
    </div>
    <span>
        <button type="submit">Entrar</button>
      </span>
</form>
</main>


    
</body>
</html>