<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Sistema</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <header>
        <div class="titulo">
            <h1>RPG Base</h1>
        </div>
        <div class="menu">
            <div class="home">
                <a href="./gerenciar.ejs">
                    Início
                </a>
            </div>
                 <div class="criar">
                    <a href="./criacaomesa.ejs">
                        Criar Mesa
                    </a>
                 </div>
                 <div class="entrar">
                    <a href="./ingressarmesa.ejs">
                        Entrar em Mesa
                    </a>
                 </div>
                 <div class="criarP">
                    <a href="./selecaosistema.ejs">
                        Criar Personagem
                    </a>
        </div>
        </div>
    </header>

    <main>
           <p><h2>Selecione o Sistema:</h2></p>

           <div class="flex-container">

            <div>
                <div id="box-1" class="box">
                    
                    <p><a href="./vampirocriacao.ejs"><img src="./imagens/vampiro_logo.png" alt=""></a>  </p>
                </div>
               
                <p> <a    href="./vampirocriacao.ejs">Vampiro - A Máscara</a></p>
                </div>
            
            

             <div>
                <div id="box-1" class="box">
                    <p><a href="./DnDcriacao.ejs"><img src="./imagens/DD_Logo.png" alt=""></a>  </p> 
                </div>
                    <p> <a href="./DnDcriacao.ejs">Dungeons and Dragons</a></p>
                </div>
                   
            


             <div>
                <div id="box-1" class="box">
                  <p><a href="./gurpscriacao.ejs"><img src="./imagens/GURPS_Logo.jpg" alt=""></a>  </p>
                 </div>
                    <p><a href="./gurpscriacao.ejs">Gurps 4ª Edição</a></p>
                </div>
            
            
          
        </div>


           

           
    
    </main>
    
</body>
</html>