-<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/vampirocriacao.css">
</head>

<body>
    <header>
        <div class="titulo">
            <h1>RPG Base</h1>
        </div>
        <div class="menu">
            <div class="home">
                <a href="./gerenciar.ejs">
                    Inicio
                </a>
            </div>
            <div class="criar">
                <a href="./criacaomesa.ejs">
                    Criar Mesa
                </a>
            </div>
            <div class="entrar">
                <a href="./ingressarmesa.ejs">
                    Entrar em Mesa
                </a>
            </div>
            <div class="criarP">
                <a href="./selecaosistema.ejs">
                    Criar Personagem
                </a>
            </div>
        </div>
    </header>


    <main>


    
    <h2> Vampiro</h2>

    <h3>A Máscara</h3>

    <form action="#" method="post">

    <section id="criar">
        <div id="col">
            <p> Nome :</p>

            <input type="text" class="cl1">
        </div>
        <div id="col">
            <p>Jogador:</p>
            <input type="text" class="cl1">
        </div>
        <div id="col">
            <p> Crônica:</p>

            <input type="text" class="cl1">
        </div>

        <div id="col2">
            <p>Natureza:</p>
            <input type="text" class="cl2">
        </div>

        <div id="col2">
            <p>Comportamento:</p>
            <input type="text" class="cl2">
        </div>


        <div id="col2">
            <p>Conceito :</p>
            <input type="text" class="cl2">
        </div>


        <div id="col3">
            <p>Geração :</p>
            <input type="text" class="cl3">
        </div>

        <div id="col3">
            <p>Clã :</p>
            <input type="text" class="cl3">
        </div>


        <div id="col3">
            <p>Refúgio :</p>
            <input type="text" class="cl3">
        </div>

    </section>

    <h4>Atributos</h4>

    <div id="Atri1">
        <p>Fisicos</p>
    </div>

    <div id="Atri2">
        <p>Sociais</p>

    </div>

    <div id="Atri3">

        <p>Mentais</p>
    </div>

    <section id="Atributos">

        <div id="a1">
            <p>Força</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">


        </div>
        <div id="a1">
            <p>Destreza</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a1">
            <p>Vigor</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a2">
            <p>Carisma</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a2">
            <p>Manipulação</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a2">
            <p>Aparêcia</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a3">
            <p>Percepção</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a3">
            <p>Inteligência</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="a3">
            <p>Raciocínio</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
    </section>

    <h5>Habilidades</h5>


    <div id="Hab1">
        <p>Talentos</p>
    </div>

    <div id="Hab2">
        <p>Pericias</p>

    </div>

    <div id="Hab3">

        <p>Conhecimentos</p>
    </div>


    <section id="Habilidades">

        <div id="h1">
            <p>Prontidão</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">


        </div>
        <div id="h1">
            <p>Esportes</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">


        </div>
        <div id="h1">
            <p>Briga</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">


        </div>
        <div id="h1">
            <p>Esquiva</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">


        </div>
        <div id="h1">
            <p>Empatia</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">

        </div>
        <div id="h1">
            <p>Expressão</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h1">
            <p>Intimidação</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h1">
            <p>Liderança</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h1">
            <p>Manha</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h1">
            <p>Lábia</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Empatia c/Animais</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Oficios</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Condução</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>

        <div id="h2">
            <p>Etiqueta</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Armas de Fogo</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Armas Brancas</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Perfomance</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Segurança</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Furtividade</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h2">
            <p>Sobrevivêcia</p>

            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Acadêmico</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Computador</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Finanças</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Investigação</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Direito</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Linguística</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Medicina</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Ocultismo</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Política</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
        <div id="h3">
            <p>Ciência</p>
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
    </section>
    <h6>Vantagens</h6>

    <div id="v1">
        <p id="Ante">Antecedentes</p>
        <input type="text" class="inpv">


        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">






        <input type="text" class="inpv">


        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">


        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

        <input type="text" class="inpv">

        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">
        <input type="checkbox" id="inp">

    </div>

    <div id="v2">
        <p id="dis">Disciplinas</p>
        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        <input type="text" class="inpv2">

        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">
        <input type="checkbox" id="inp2">


        
        

        


    </div>

    <div id="v3">
        <p id="virtudes">Virtudes</p>
        <label id="consiecia">Consiêcia/Covicção</label>

        <input type="checkbox" id="inp31">
        <input type="checkbox" id="inp31">
        <input type="checkbox" id="inp31">
        <input type="checkbox" id="inp31">
        <input type="checkbox" id="inp31">

        <p></p>


        <label id="auto">Auto Controle/Instinto</label>


        <input type="checkbox" id="inp32">
        <input type="checkbox" id="inp32">
        <input type="checkbox" id="inp32">
        <input type="checkbox" id="inp32">
        <input type="checkbox" id="inp32">


        <p></p>


        <label id="coragem">Coragem:</label>



        <input type="checkbox" id="inp33">
        <input type="checkbox" id="inp33">
        <input type="checkbox" id="inp33">
        <input type="checkbox" id="inp33">
        <input type="checkbox" id="inp33">



    </div>
    
    


</div>
</form>
<label for="qualidade" id="qd"> Qualidade & Defeitos</label>

<textarea name="qualidade&defeito" id="qd1" cols="30" rows="6"></textarea>

<div class="ht">
    <label id="ht">Humanidade/Trilha</label>
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    <input type="checkbox" id="ht1">
    
</div>

<div>

    <label id="fv">Força de Vontade</label>
    
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">
    <input type="checkbox" id="fv1">

</div>

<label id="ps">Pontos de Sangue</label>

<div id="ps1">

    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <p></p>
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <p></p>
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <p></p>
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <p></p>
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">
    <input type="checkbox" id="ps2">


</div>

<label id="vitaliade" >Vitaliade</label>

<div id="vit">
    <p>Escoriado</p>
    <input type="checkbox" id="vt">
</div>

<div id="vit">

    <p>Machucado</p>
    <input type="checkbox" id="vt1">

</div>
<div id="vit">

    <p>Ferido</p>
    <input type="checkbox" id="vt2">

</div>
<div id="vit">

    <p>Ferido Gravimente</p>
    <input type="checkbox" id="vt3">

</div>
<div id="vit">

    <p>Espancado</p>
    <input type="checkbox" id="vt4">

</div>
<div id="vit">

    <p>Aleijado</p>
    <input type="checkbox" id="vt5">

</div>
<div id="vit">

    <p>Incapacitado</p>
    <input type="checkbox" id="vt6">

</div>

<label for="fraqueza" id="Fra"> Fraqueza</label>

<textarea name="fraqueza" id="Fr" cols="30" rows="6"></textarea>


    

    <div class="botoes">
        <button type="reset">
            <a href="./gerenciar.ejs">Cancelar</a>
        </button>
        <input type="submit" value="Criar Personagem">
    </div>

</main>

</body>

</html>